<%= form_for @account do |f| %>
<% if @account.errors.any? %>
	<div id="error_explanation">
		<ul>
    	<% @account.errors.full_messages.each do |msg| %>
      		<li><%= msg %></li>
    	<% end %>
    	</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :address1, "Address" %>
		<%= f.text_field :address1 %>
		<%= f.text_field :address2 %>
	</div>
	<div class="field">
		<%= f.label :city, "City" %>
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :state, "State" %>
		<%= f.select :state, Account::STATES, :prompt => "Select" %>
	</div>
	<div class="field">
		<%= f.label :postal, "Postal" %>
		<%= f.text_field :postal %>
	</div>
	<div class="field">
		<%= f.label :email, "Email" %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :phone, "Phone" %>
		<%= f.text_field :phone %>
	</div>
	<div class="submit">
		<%= f.submit "Submit", :disable_with => 'Sending...' %>
	</div>
<% end %>